.icon {
  color: #ea7c69;
}

.active .Item {
  background: #252836;
}

.active .Wrapper {
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}

.active .icon {
  color: #fff;
  font-size: 20px;
  text-decoration: none !important;
}
