* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Barlow";
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  background: #222;
}

.App {
  width: 1194px;
  height: 834px;
  background: #252836;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.active p {
  color: "red !important";
}

.icon {
  color: #ea7c69;
}

.active .Item {
  background: #252836;
}

.active .Wrapper {
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}

.active .icon {
  color: #fff;
  font-size: 20px;
  text-decoration: none !important;
}

i {
  text-decoration: underline !important;
}

.Back {
  position: absolute;
  width: 688px;
  height: 834px;
  z-index: 100;
}
